@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <img src="~/fast_logo.png" class="fast_logo" alt="Logo">
</div>
<div class="text-center">
    <div id="UserName"></div>
    <div class="container h-100">

        <div class="d-flex justify-content-center h-100">
            <div class="user_card">
                <div class="d-flex justify-content-center">
                    <div class="brand_logo_container">
                        <img src="~/sportics_logo_white.png" class="brand_logo" alt="Logo">
                    </div>
                </div>
                <div style="padding-top: 35%; color: #009387 ">
                    <h1 id="sport"></h1>
                    <h2 style="color: #000000" padding-top: -15%>Register player</h2>
                </div>
                <div class="d-flex justify-content-center form_container" style="margin-top: 5%">
                    <form id="signinform" onsubmit="post12()">
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Player Name</label>
                            <input type="text" class="form-control" name="username" id="PlayerName">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Player's Password</label>
                            <input type="password" class="form-control" name="userpassword" id="PlayerPassword">
                        </div>
                        <div class="d-flex justify-content-center mt-3 login_container">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div>
        <h1 style="justify-content-center; padding-top:20px">Members Registered in the Team</h1>
        <div style="padding-left: 500px; padding-top: 20px">
            <table id="table">
                <tr>
                    <th>UserName</th>
                </tr>
            </table>
        </div>
    </div>
</div>

<script>
    let data = sessionStorage.getItem("sport");
    document.getElementById("sport").innerHTML = data.toUpperCase();
    function post12() {
        event.preventDefault();
        let values = $("#signinform").serializeArray()
        let username = $("input[name=username]").val();
        let userpassword = $("input[name=userpassword]").val();
        let teamname = sessionStorage.getItem("TeamName");
        let captain = sessionStorage.getItem("UserName");
        let sport = sessionStorage.getItem("sport");
        if (username !== "" && userpassword !== "") {
            $.ajax({
                url: "/AddPlayer/Add",
                type: "post",
                data: {
                    "TeamName": teamname,
                    "UserName": username,
                    "UserPassword": userpassword,
                    "CaptainName": captain,
                    "Sport": sport
                },
                dataType: "json",
                success: function onSuccess(data) {
                    alert("Succesfully Registered player");
                    console.log(data)
                    console.log(values);
                }
            })
        }
        else {
            console.log("Empty String");
        }
    }

    window.onload = function () {
        let teamname = sessionStorage.getItem("TeamName");
        let sport = sessionStorage.getItem("sport");
        var table = document.getElementById("table");
        $.ajax({
            url: "/AddPlayer/Show",
            dataType: "json",
            type: "post",
            data: {
                "TeamName": teamname,
                "Sport": sport
            },
            success: function onSuccess(data) {
                data.forEach(d => {
                    var row = table.insertRow(1);
                    row.insertCell(0).innerHTML = d.UserName;
                })
                console.log(data)
            }
        })
    }
</script>


<style>

    body,
    html {
        margin: 0;
        padding: 10vh;
        height: 100%;
        background: #009387 !important;
    }

    .Button_Style {
        background: #009387;
        color: white;
        display: flex;
        flex-wrap: wrap;
        width: 140px;
    }

    .user_card {
        height: 520px;
        width: 350px;
        margin-top: -40px;
        margin-bottom: auto;
        background: white;
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 5px;
    }

    .brand_logo_container {
        position: absolute;
        height: 170px;
        width: 170px;
        top: -75px;
        border-radius: 50%;
        background: #009387;
        padding: 10px;
        text-align: center;
    }

    .brand_logo {
        padding-top: 10px;
        height: 150px;
        width: 150px;
        border-radius: 50%;
        border: 2px solid white;
    }

    .form_container {
        margin-top: 100px;
    }

    .login_btn {
        width: 100%;
        background: #009387 !important;
        color: white !important;
    }

        .login_btn:focus {
            box-shadow: none !important;
            outline: 0px !important;
        }

    .login_container {
        padding: 0 2rem;
    }

    .input-group-text {
        background: #009387 !important;
        color: white !important;
        border: 0 !important;
        border-radius: 0.25rem 0 0 0.25rem !important;
    }

    .input_user,
    .input_pass:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }

    .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
        background-color: #009387 !important;
    }

    .btn-group {
        margin-bottom: 30px;
        background: #009387 !important;
        border-radius: 0.25rem !important;
    }

    .fast_logo_container {
        position: absolute;
        height: 170px;
        width: 170px;
        top: 0px;
        padding: 10px;
        text-align: center;
    }

    .fast_logo {
        margin-top: -20%;
        margin-left: 100%;
        padding-top: 0%;
        padding-bottom: 0%;
        height: 10%;
        width: 10%;
    }
</style>
