@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Admin Portal";
}

<div>
    <img src="~/fast_logo.png" class="fast_logo" alt="Logo">
</div>
<div class="text-center">
    <div class="container h-100">

        <div class="d-flex justify-content-center h-100">
            <div class="user_card">
                <div class="d-flex justify-content-center">
                    <div class="brand_logo_container">
                        <img src="~/sportics_logo_white.png" class="brand_logo" alt="Logo">
                    </div>
                </div>
                <div class="d-flex justify-content-center form_container">
                    <form id="signinform" onsubmit="post12()">


                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Team Name</label>
                            <input type="text" class="form-control" name="teamname" id="TeamName">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Captain Name</label>
                            <input type="text" class="form-control" name="username" id="CaptainName">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Captain's Password</label>
                            <input type="password" class="form-control" name="userpassword" id="CaptainPassword">
                        </div>
                        <div class="d-flex justify-content-center mt-3 login_container">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            @*<button type="submit" name="button" class="btn login_btn">Login</button>*@
                        </div>

                    </form>
                </div>


            </div>
        </div>
    </div>
    <div>
        <h1 style="justify-content-center; padding-top:20px">Registered captain List</h1>
        <div style="padding-left: 450px; padding-top: 20px">
            <table id="table">
                <tr>
                    <th>UserName</th>
                    <th>TeamName</th>
                </tr>
            </table>
        </div>
    </div>
</div>

<script>
    function rolehandle(role) {
        $("input[name = role]").val(role)
    }
    function post12() {
        event.preventDefault();
        let values = $("#signinform").serializeArray()
        let name = $("input[name=username]").val();
        let pass = $("input[name=userpassword]").val();
        let teamname = $("input[name=teamname]").val();

        if (teamname !== "" && name !== "" && pass !== "") {
            $.ajax({
                url: "/Admin/RegisterCaptain",
                type: "post",
                data: {
                    "TeamName": teamname,
                    "UserName": name,
                    "UserPassword": pass
                },
                dataType: "json",
                success: function onSuccess(data) {
                    alert("Succesfully Registered Captain");
                    console.log(data)
                    console.log(values);
                }
            })
        }
    }
    window.onload = function () {
        var table = document.getElementById("table");
        $.ajax({
            url: "/Admin/ShowCaptain",
            type: "post",
            dataType: "json",
            success: function onSuccess(data) {
                data.forEach(d => {
                    var row = table.insertRow(1);
                    row.insertCell(0).innerHTML = d.UserName;
                    row.insertCell(1).innerHTML = d.TeamName;
                })
                console.log(data)
                console.log(values);
            }
        })
    }
</script>

<style>

    body,
    html {
        margin: 0;
        padding: 10vh;
        height: 100%;
        background: #009387 !important;
    }

    .user_card {
        height: 380px;
        width: 350px;
        margin-top: auto;
        margin-bottom: auto;
        background: white;
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 5px;
    }

    .brand_logo_container {
        position: absolute;
        height: 170px;
        width: 170px;
        top: -75px;
        border-radius: 50%;
        background: #009387;
        padding: 10px;
        text-align: center;
    }

    .brand_logo {
        padding-top: 10px;
        height: 150px;
        width: 150px;
        border-radius: 50%;
        border: 2px solid white;
    }

    .form_container {
        margin-top: 100px;
    }

    .login_btn {
        width: 100%;
        background: #009387 !important;
        color: white !important;
    }

        .login_btn:focus {
            box-shadow: none !important;
            outline: 0px !important;
        }

    .login_container {
        padding: 0 2rem;
    }

    .input-group-text {
        background: #009387 !important;
        color: white !important;
        border: 0 !important;
        border-radius: 0.25rem 0 0 0.25rem !important;
    }

    .input_user,
    .input_pass:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }

    .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
        background-color: #009387 !important;
    }

    .btn-group {
        margin-bottom: 30px;
        background: #009387 !important;
        border-radius: 0.25rem !important;
    }

    .fast_logo_container {
        position: absolute;
        height: 170px;
        width: 170px;
        top: 0px;
        padding: 10px;
        text-align: center;
    }

    .fast_logo {
        margin-top: -20%;
        margin-left: 100%;
        padding-top: 0%;
        padding-bottom: 0%;
        height: 10%;
        width: 10%;
    }
</style>

